<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<!-- 1.JobDetail设置 -->
	<bean name="customJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<!-- 指定job的名称 -->
		<property name="name" value="job_name" />
		<!-- 指定job的分组 -->
		<property name="group" value="job__group" />
		<!-- 指定具体的job类 -->
		<property name="jobClass" value="com.liu.spring.quartz.job.CustomJob" />
		<!-- 必须设置为true，如果为false，当没有活动的触发器与之关联时会在调度器中会删除该任务 -->
		<property name="durability" value="true" />
		<!-- 指定spring容器的key，如果不设定在job中的jobmap中是获取不到spring容器的 -->
		<property name="applicationContextJobDataKey" value="applicationContext" />
	</bean>

	<!-- 2.触发器设置 -->
	<bean id="cronTrigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 指定Trigger的名称 -->
		<property name="name" value="trigger_name1" />
		<!-- 指定Trigger的名称 -->
		<property name="group" value="trigger_group" />
		<!-- 指定Tirgger绑定的Job -->
		<property name="jobDetail" ref="customJobDetail" />
		<!-- 指定Cron 的表达式 ，当前是每隔10s运行一次 -->
		<property name="cronExpression" value="0/10 * * * * ?" />
	</bean>

	<bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 指定Trigger的名称 -->
		<property name="name" value="trigger_name1" />
		<!-- 指定Trigger的名称 -->
		<property name="group" value="trigger_group2" />
		<!-- 指定Tirgger绑定的Job -->
		<property name="jobDetail" ref="customJobDetail" />
		<!-- 指定Cron 的表达式 ，当前是每隔10s运行一次 -->
		<property name="cronExpression" value="0/5 * * * * ?" />
	</bean>

	<!-- 3.定义调度器，并将Trigger注册到调度器中 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="configLocation" value="classpath:config/quartz.properties" />
		<property name="triggers">
			<list>
				<ref bean="cronTrigger1" />
				<ref bean="cronTrigger2" />
			</list>
		</property>
	</bean>
</beans>     